extends /layouts/default.pug

block title
  title 404 - Leesa.js

block description
  meta(name='description', content='Small framework for standard frontend development')

block app
  .error
    .error__status Not found - 404
    .error__message
      | Oops, page
      |
      | with path
      |
      | "
      strong= path
      | "
      |
      | not found :(
