extends /layouts/default.pug

block title
  title 404 - Leesa.js

block description
  meta(name='description', content='Small framework for standard frontend development')

block app
  span Oops, page not found :(
