extends /layouts/default.pug

block title
  title Unexpected error - Leesa.js

block description
  meta(name='description', content='Small framework for standard frontend development')

block app
  span Oops, unexpected error :(
