include /components/Head
include /components/Header.pug
include /components/Footer.pug

doctype html
html(lang='en')
  head
    +Head({
      title: 'leesa.js',
      description: 'Small framework for standard frontend development'
    })

  body
    +Header()

    .app
      block app

    +Footer()

    script(src='/scripts/app.js')